        
        
        /** INDEX PAGE CSS **/
#index-navimg {
background-image:url(https://images.unsplash.com/photo-1592652426549-6b44dce89711?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwcm9maWxlLXBhZ2V8NHx8fGVufDB8fHx8&w=1000&q=80);
background-size: cover;
background-repeat: no-repeat;
background-color: gray;
height: 50vw;
display: flex;
flex-direction: column;
align-items: center;
}
#title1 {
    font-weight: bold;
    text-shadow: 1px 5px 5px black;
    font-size: 8vw;
    text-align: center;
}
#title2 {
    font-size: 3vw;
    text-shadow: 2px 5px 5px black;
    text-align: center;
}
#title3 {
    font-weight: bold;
    font-size: 3vw;
    text-align: center;
}
#index-p {
    font-size: 1.3vw;
    padding: 1.3vw;
}
#index-h1 {
    font-weight: bold;
    font-size: 1.9vw;
    padding: 1.9vw;
}
#index-h2 {
    font-size: 1.25vw;
}
.index-welcome {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    color: rgb(255, 255, 255);
    padding: 1.25vw;
}   
.index-info {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.index-flex {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly ;
}
.index-contact {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    background-color: rgb(85, 201, 255);
    text-shadow: 2px 2px 5px black;
    padding: 1.9vw;
}
.index-nav {
    display:flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    font-size:1.9vw;
    width:100%;
    z-index: 1;
    background-color: rgba(0, 0, 0, 0.192);
}
.index-cc {
    display: flex;
    flex-direction: column;
    text-align: center;
    background-color:rgba(16,24,26,.5);
    padding: 1vw;
}

            /** RESCUE CENTER CSS **/
#rc-navimg {
    background-image:url(images/cat1.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
    background-color: gray;
    height: 20vw;
}
.rc-top {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background-color:rgba(85, 201, 255, 0.473);
    align-items: center;
    color: white;
    text-shadow: 1px 5px 5px black;
}
#saved {
    font-size: 2.5vw;
    padding: 2vw;
    font-weight: bold;
}
.rc-info {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding: 1.5vw;
}
.btn-primary {
    color: white;
    background-color: gray
}
.btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active {
    color: white;
    background-color: rgb(85, 201, 255);
    border-color: rgb(85, 201, 255);
}
.col {
    padding: 1vw;
}
.rc-p {
    font-size: 1.3vw;
    padding: .5vw;
}
.rc-h1 {
    font-weight: bold;
    font-size: 2vw;
}
            /** INDOORS.HTML CSS **/
.education-title {
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: white;
    color: rgb(46, 119, 153) ; 
    padding: 4vw;
}
.indoor-row {
    display: flex;
    flex-direction: row;
}
.indoor-t {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-direction: column;
}
.indoor-info {
    display: flex;
    justify-content: row;
    align-items: center;
    margin-bottom: 5vw;
}
#indoor-navimg {
    background-image:url(images/indoors.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
    background-color: gray;
    height: 30vw;
}
.clip-img {
    height: 20vw;
    clip-path: polygon(0% 0%, 75% 0%, 100% 50%, 75% 100%, 0% 100%);
}
            /**  GENERAL PAGE LAYOUT CSS   **/
body
{
    background: rgba(16,24,26,255);
    color: white;
    border-color:rgb(85, 201, 255) ;
}
a:link {
    color: rgb(85, 201, 255);
    text-decoration: none;
}
a:hover {
    color: white;
}
a {
    color: rgb(85, 201, 255);
}
.navbar-dark .navbar-nav .nav-link{
    color: white;
}